<div class="wrapper">
<div class="form-wrapper">
<form [formGroup]="form">
  <div class="index-form">

  <div class="index-container">
    <button (click)="reset()">reset</button>
    <div>
      AX: <app-hex-form-control [formControlName]="fieldNames.ax"></app-hex-form-control>
    </div>
    <div>
      BX: <app-hex-form-control [formControlName]="fieldNames.bx"></app-hex-form-control>
    </div>
    <div>
      CX: <app-hex-form-control [formControlName]="fieldNames.cx"></app-hex-form-control>
    </div>
    <div>
      DX: <app-hex-form-control [formControlName]="fieldNames.dx"></app-hex-form-control>
    </div>
  </div>
  <div class="index-container">

    <button (click)="random()">random</button>
    
    <div>
      SP: <app-hex-form-control [formControlName]="fieldNames.sp"></app-hex-form-control>
    </div>
    <div>
      DI: <app-hex-form-control [formControlName]="fieldNames.di"></app-hex-form-control>
    </div>
    <div>
      SI: <app-hex-form-control [formControlName]="fieldNames.si"></app-hex-form-control>
    </div>
    <div>
      DISP: <app-hex-form-control [formControlName]="fieldNames.disp"></app-hex-form-control>
    </div>
    <div>
      BP: <app-hex-form-control [formControlName]="fieldNames.bp"></app-hex-form-control>
    </div>
  </div>
  </div>
</form>
<form [formGroup]="formAction" class="form-actions">
  <div class="reg-actions">
    <div class="selections">
      <h3>OPERACJE NA REJESTRZE</h3>
      <span>

        REJESTR 1: 
        <select [formControlName]="actionNames.regFrom">
          <option *ngFor="let opt of fieldNamesArr" [value]="opt">{{opt?.toUpperCase()}}</option>
        </select>
      </span>
      <span>  
        REJESTR 2: <select [formControlName]="actionNames.regTo">
          <option *ngFor="let opt of fieldNamesArr" [value]="opt">{{opt?.toUpperCase()}}</option>
        </select>
      </span>
    </div>
    <div class="buttons">
      <button (click)="movReg()">MOV</button> 
      <button (click)="xchgReg()">XCHG</button>
    </div>
  </div>

  <div class="stack-actions">
    <h3>OPERACJE NA STOSIE</h3>
    <div class="selections">
      CZYTAJ Z/ZAPISZ DO:
      <select [formControlName]="actionNames.stackReg">
        <option *ngFor="let opt of fieldNamesArr" [value]="opt">{{ opt?.toUpperCase() }}</option>
      </select>
    </div>
    <div class="buttons">
      <button (click)="pushToStack()">PUSH</button>
      <button (click)="popFromStack()">POP</button>
    </div>
  </div>

  <div class="mem-actions">
    <div class="selections">
      <h3>OPERACJE NA PAMIĘCI</h3>
      <div>
        SPOSÓB ADRESOWANIA:
        <select [formControlName]="actionNames.addresingType">
          <option [value]="0">BAZOWY</option>
          <option [value]="1">INDEKSOWY</option>
          <option [value]="2">BAZOWO-INDEKSOWY</option>
        </select>
      </div>
      <div>
        CZYTAJ Z/ZAPISZ DO:
        <select [formControlName]="actionNames.memReg">
          <option *ngFor="let opt of fieldNamesArr" [value]="opt"> {{ opt?.toUpperCase() }}</option>
        </select>
      </div>
      <div>
        INDEKS:
        <select [formControlName]="actionNames.indexAddr">
          <option *ngFor="let opt of indexRegNamesArr" [value]="opt">{{ opt?.toUpperCase() }}</option>
        </select>
      </div>
      <div>
        BAZA
        <select [formControlName]="actionNames.baseAddr">
          <option *ngFor="let opt of baseRegNamesArr" [value]="opt">{{ opt?.toUpperCase() }}</option>
        </select>
      </div>
      <div>OBLICZONY ADRES: {{memAddr}}</div>
    </div>
    <div class="buttons">
      <button (click)="movMem(true)">MOV REG -> MEM</button>
      <button (click)="movMem(false)">MOV MEM -> REG</button>
      <button (click)="xchgMem()">XCHG</button>
    </div>
  </div>

</form> 

</div>
  <div>
    <button (click)="getMem()">Pokaż 64 bajty pamięci zaczynając od: </button> <span style="max-width: 100px; display: inline-block;">
      <app-hex-form-control [formControl]="memControl"></app-hex-form-control>
    </span>
    <h3>
      PAMIĘĆ:
    </h3>
    <div style="font-family: 'Courier New', Courier, monospace;" *ngFor="let m of mem">{{m}}</div>
  </div>
  <div>
    <h3>
      STOS:
    </h3>
    <div style="font-family: 'Courier New', Courier, monospace;" *ngFor="let s of stackDmp">{{s}}</div>
  </div>
  
</div>
